// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

// Nome das variaveis de cor
$colors: (
  primary:          #992A93,
  secondary:        #677077,
  lightprimary:     #B5B5B7,
  light:            #f4f4f4,
  dark:             #222,
  energy:           #f2b632,
violet:           #9400D3,
  background-color: #FFFFFF
);

$toolbar-background: color($colors, primary);

@import "ionic.theme.default";
// Ionicons
@import "ionic.ionicons";
// Fontes
@import "roboto";
@import "noto-sans";
