<ion-view title="Alterar Senha" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="alterarSenha-form5" class="list">
      <label class="item item-input" id="alterarSenha-input18" name="Senha Atual">
        <input type="password" placeholder="Senha Atual">
      </label>
      <label class="item item-input" id="alterarSenha-input19" name="Nova senha">
        <input type="password" placeholder="Nova senha">
      </label>
      <button id="alterarSenha-button14" class="button button-positive button-block button-clear">Esqueci minha senha</button>
      <button id="alterarSenha-button15" class="button button-royal button-block">Enviar</button>
    </form>
  </ion-content>
</ion-view>