<ion-view title="Buscar" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="buscar-list9">
      <ion-item id="buscar-list-item28">Calaf
        <span class="item-note">Casa noturna</span>
      </ion-item>
      <ion-item id="buscar-list-item29">Khoder
        <span class="item-note">Bar</span>
      </ion-item>
      <ion-item id="buscar-list-item30">Outback
        <span class="item-note">Restaurante</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>