<ion-view title="Cadastrar" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="cadastrar-form2" class="list">
      <ion-list id="cadastrar-list2">
        <label class="item item-input" id="cadastrar-input3" name="Nome">
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input" id="cadastrar-input4" name="Email">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="cadastrar-input5" name="Senha">
          <input type="password" placeholder="Senha">
        </label>
        <label class="item item-input" id="cadastrar-input6" name="Confirme a senha">
          <input type="password" placeholder="Confirme a senha">
        </label>
      </ion-list>
      <a ui-sref="tabsController.buscar()" id="cadastrar-button3" class="button button-royal button-block">Cadastrar</a>
    </form>
  </ion-content>
</ion-view>