<ion-view title="Configurações" id="page5">
  <ion-content padding="true" class="has-header">
    <h4 id="configuraEs-heading1" style="color:#816FEA;">Eu</h4>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.editar()" id="configuraEs-button4" style="left:-10px;text-align:left;" class="button button-light button-full">Editar dados</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.minhasAvaliaEs()" id="configuraEs-button5" style="left:-10px;text-align:left;" class="button button-light button-full">Minhas avaliações</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.login()" id="configuraEs-button10" style="left:-10px;text-align:left;" class="button button-light button-full">Sair</a>
    </div>
    <h4 id="configuraEs-heading2" style="color:#816FEA;">Geral</h4>
    <div style="margin-right:-20px;">
      <button id="configuraEs-button6" style="left:-10px;text-align:left;" class="button button-light button-full">Sugerir estabelecimentos</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="configuraEs-button7" style="left:-10px;text-align:left;" class="button button-light button-full">Notificações</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="configuraEs-button8" style="left:-10px;text-align:left;" class="button button-light button-full">Limpar histórico de busca</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="configuraEs-button9" style="left:-10px;text-align:left;" class="button button-light button-full">Fale conosco</button>
    </div>
  </ion-content>
</ion-view>