<ion-view title="Editar" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="editar-form4" class="list">
      <ion-list id="editar-list4">
        <label class="item item-input" id="editar-input10" name="Nome">
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input" id="editar-input11" name="Email">
          <input type="email" placeholder="Email">
        </label>
      </ion-list>
      <label class="item item-input" id="editar-input15" name="Telefone">
        <input type="tel" placeholder="Telefone">
      </label>
      <label class="item item-input" id="editar-input16" name="CPF/CNPJ">
        <input type="text" placeholder="CPF/CNPJ">
      </label>
      <a ui-sref="tabsController.alterarSenha()" id="editar-button13" style="text-align:left;" class="button button-stable button-block button-outline icon-right ion-chevron-right">Alterar senha</a>
      <a ui-sref="tabsController.buscar()" id="editar-button12" class="button button-royal button-block">Confirmar</a>
    </form>
  </ion-content>
</ion-view>