<ion-view title="Login" hide-back-button="true" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1" name="Email">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="login-input2" name="Senha">
          <input type="password" placeholder="Senha">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.buscar()" id="login-button1" class="button button-royal button-block">Conectar</a>
      <a ui-sref="tabsController.cadastrar()" id="login-button2" class="button button-royal button-block button-clear">Cadastrar</a>
    </form>
  </ion-content>
</ion-view>