<ion-view title="Sugerir Estabelecimentos" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="sugerirEstabelecimentos-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Os estabelecimentos abaixo não fazem parte do nosso catálogo. Clique em votar para incentivá-los a entrarem.</p>
    </div>
    <ion-list id="sugerirEstabelecimentos-list7">
      <ion-item id="sugerirEstabelecimentos-list-item17">Granjas
        <span class="item-note">VOTAR</span>
      </ion-item>
      <ion-item id="sugerirEstabelecimentos-list-item18">Área 51
        <span class="item-note">VOTAR</span>
      </ion-item>
      <ion-item id="sugerirEstabelecimentos-list-item19">Khoder bar
        <span class="item-note">VOTAR</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>